@import "./color_partial.module.scss";
@import "./responsive_partial.scss";

h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
strong {
  padding: 0;
  margin: 0;
}

body {
  background-color: $primary-color;
  color: $font-color-primary;
  font-size: 16pt;

  @include md {
    font-size: 14pt;
  }

  @include lg {
    font-size: 12pt;
  }

}

h1 {
  font-size: 3.5em;
  color: $font-color-secondary;

  @include md {
    font-size: 2.0em;
  }
}

h2 {
  font-size: 2.5em;
  color: $font-color-secondary;

  @include md {
    font-size: 1.5em;
  }
}

ul {
  list-style-position: inside;
}

.strong {
  text-decoration: none;
  color: $secondary-color;
  font-family: monospace;
  font-weight: normal;
}

.section {
  padding: 20vh 0;
  // font-size: 14pt;
  line-height: 1.5;


  .section-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    font-size: 12pt;
    align-items: baseline;

    .index {
      color: $secondary-color;
      font-family: monospace;
      font-weight: normal;
    }

    .content {
      color: $font-color-secondary;
      font-size: 1.5em;
      padding-left: 10px;
    }

    .divider {
      flex-grow: 1;
      border-color: $font-color-primary;
      margin: 10px 10px 0 10px;
      align-self: center;
    }

  }
}


.footer {
  display: flex;
  background-color: $primary-color-dark;
  margin: '0 auto';
  padding: 20px 0px;
  font-size: 12pt;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: monospace;

  .contact-list {
    list-style-type: none;
    display: none;

    @include md {
      display: block;
    }

    li {
      display: inline-block;
      padding: 10px;

      .icon {
        fill: $font-color-primary;
        width: 30px;
        height: 30px;
        transition: all 0.1s ease-in;

        &:hover {
          transform: translateY(-2px);
          fill: $secondary-color;
        }
      }
    }
  }

  .notes {}

  // .contact-methods {
  //   list-style-type: none;

  //   li {
  //     display: inline-block;
  //     padding: 10px 20px;
  //   }
  // }
}


.bottom-space {
  margin-bottom: 1em;
}