$primary-color :rgb(10, 25, 47);
$primary-color-light :rgb(23, 42, 69);
$primary-color-dark :rgb(2, 12, 27);

$secondary-color : rgb(100, 255, 218);

$font-color-primary:rgb(136, 146, 176);
$font-color-secondary: rgb(230, 241, 255);