@import "./responsive_partial.scss";

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px 0px;
  font-family: monospace;
  font-size: 0.8em;
  list-style-type: none;
  list-style-position: inside;

  li {
    flex: 1 0 49%;
    padding: 5px 0;

    &::before {
      content: "▹";
      // position: absolute;
      left: 0px;
      color: rgb(100, 255, 218);
      font-size: 14px;
      line-height: 12px;
    }
  }
}


.experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @include md {
    flex-direction: column;
  }

  .experience-list {
    list-style-type: none;
    // position: relative;
    flex: 1 0 10%;
    list-style-type: none;
    padding: 0px 20px 0 0;
    border-left: 1px solid $primary-color-light;

    @include md {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      overflow: scroll;
      overflow-y: hidden;
    }

    .experience-list-item {

      @include md {
        flex-shrink: 0;
        font-size: 0.825em;
        padding: 10px 20px;
      }

      transition: all 0.1s ease-in;
      padding: 20px 20px;

      &:hover {
        background-color: $primary-color-light;
        color: $secondary-color;
      }

      &.selected {
        background-color: $primary-color-light;
        color: $secondary-color;
      }

    }

    .experience-list-selector {
      position: absolute;
      display: block;
      top: 10px;
      // z-index: 1;
      pointer-events: none;
      transition-property: all;
      transition-duration: 0.1s;
      transition-timing-function: ease-in;
      border-left: 2px solid $secondary-color;

      @include md {
        display: none;
        border-left: none;
        border-bottom: 2px solid $secondary-color;
      }

    }
  }

  .experience-block {
    flex: 1 0 60%;
    padding: 10px;

    .experience-block-title {
      font-size: 1.2em;
      font-weight: 600;
      color: $font-color-secondary;

      .strong {
        padding-left: 10px;
      }
    }

    .experience-block-period {
      display: block;
      font-family: monospace;
      margin: 10px 0;
      font-size: 0.8em;
    }

    .experience-block-description {
      ul {
        list-style-type: none;
        list-style-position: outside;
        text-align: left;


        li {
          display: list-item;
          position: relative;
          left: 0px;
          padding-left: 30px;
          padding-bottom: 20px;

          &::before {
            content: "▹";
            display: block;
            position: absolute;
            left: 0px;
            // padding-right: 40px;
            color: rgb(100, 255, 218);
            font-size: 14px;
          }

        }
      }
    }
  }

}

.contact {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: fit-content;
  bottom: 0px;

  &.contact-left {
    left: 40px;

    @include md {
      display: none;
    }
  }

  &.contact-right {
    right: 40px;

    @include md {
      display: none;
    }
  }

  &::after {
    content: "";
    width: 1px;
    height: 150px;
    border-left: 1px solid $font-color-primary;
    margin: 0 auto;
  }

  .contact-email {
    font-family: monospace;
    writing-mode: vertical-lr;
    height: fit-content;
    padding: 10px 0;
    transition: all 0.1s ease-in;

    &:hover {
      transform: translateY(-2px);
      color: $secondary-color;
    }
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: min-content;
    list-style-type: none;

    li {
      width: min-content;

      .icon {
        transition: all 0.1s ease-in;
        width: 20px;
        height: 20px;
        padding: 10px;
        fill: $font-color-primary;
        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
          fill: $secondary-color;
        }

      }

      img {
        width: 20px;
        height: 20px;
        transition: all 0.1s ease-out;

        &:hover {
          // filter: grayscale(100%) sepia(100%);
          background-color: $secondary-color;
        }
      }
    }
  }

}


$drawer-width :60vw;

.drawer {
  position: fixed;
  width: $drawer-width;
  height: 100vh;
  top: 0;
  right: 0;
  transition: all 0.25s ease-in;
  transform: translateX($drawer-width);

  &.hide {
    transform: translateX(0);
  }

  ul {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: $drawer-width;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    background-color: $primary-color-light;
    font-family: monospace;

    li {
      padding-top: 20px;
      font-size: 16pt;
      cursor: pointer;

      .index {
        display: block;
        color: $secondary-color;
        text-align: center;
      }

      .content {
        display: block;
        text-align: center;
        padding-left: 10px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }

}