@import "./color_partial.module.scss";
@import "./responsive_partial.scss";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  min-height: calc(100vh);
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all 0.2s ease-out;

  box-shadow: 0px 5px 5px black;
  background-color: $primary-color;

  &.header-active {
    transform: translateY(0);
  }

  &.header-hide {
    transform: translateY(-70px);
  }
}

.nav-hambuger {
  display: none;
  position: relative;
  align-self: center;
  margin-right: 20px;
  top: 0px;
  right: 20px;
  z-index: 100px;

  @include lg {
    display: block;
  }

  %line {
    border-bottom: 2px solid #ccc;
    background: transparent;
    width: 20px;
    margin-top: 4.5px;
    color: #333;
    transition: all 0.2s ease;
  }

  .nav-hambuger-top {
    @extend %line;
  }

  .nav-hambuger-middle {
    @extend %line;
  }

  .nav-hambuger-bottom {
    @extend %line;
  }

  &.nav-hambuger-active {

    .nav-hambuger-top {
      transform: rotate(-43deg);
      transform-origin: top right;
    }

    .nav-hambuger-middle {
      transform: translateX(100px);
      opacity: 0;
    }

    .nav-hambuger-bottom {
      transform: rotate(45deg);
      transform-origin: bottom right;

    }

  }

}

.nav {
  display: flex;
  height: 70px;

  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .nav-grow {
    flex-grow: 1;
  }

  .nav-list {
    display: flex;
    transition: all 0.25s ease-out;

    @include lg {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      padding: 20pt;
    }

    li {
      list-style-type: none;
      align-self: center;
      padding: 10px;
      font-family: monospace;
      font-size: 10pt;

      .index {
        color: $secondary-color;
      }

      .content {
        color: $font-color-primary;
        padding-left: 10px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}


.main {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0px 7.0875rem 7.45rem;
  padding-top: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  transition: all 0.25s ease-in;


  @include md {
    padding: 0px 2.0875rem 3.45rem;
  }
}

.blur {
  overflow-y: hidden;

  div[id=main] {
    overflow-y: hidden;
    filter: blur(5px) brightness(0.7);
    pointer-events: none;
    user-select: none;
  }
}